*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.DS_STORE
build/
.cache
.vagrant
.sass-cache

# YARD artifacts
.yardoc
_yardoc
doc/
.idea/

# Vagrant artifacts
ubuntu-*-console.log

# I am using locally rbenv
.ruby-version

# Used to perform semi-automatic translation following: https://pandoc.org/MANUAL.html https://michelf.ca/projects/php-markdown/extra/
temp